/* @import url(//fonts.googleapis.com/css?family=Open+Sans:400,700); */

svg {
  font: 14px 'Open Sans';
}

.save-button {
  font-size: 18px;
}

.save-button:hover {
  cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
#bookings-chart .line:hover {
  cursor: pointer;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}
.present-day {
  stroke: blue;
}
.forecast-line {
  stroke: green;
  fill: white;
  stroke-width: 1;
  stroke-dasharray: 2;
}
.forecast-dot {
  fill: green;
  stroke: white;
}
.forecast-dot.curving {
  fill: #aaaa00;
}
.forecast-dot:hover {
    cursor: ns-resize;
}
/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Georgia;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}
#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    padding-left: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}